*
	margin: 0
	padding: 0

	-webkit-box-sizing: border-box

body

	@include colors

		background-color: color_panel_bg()

		color: color_text()

		text-shadow: color_text_shadow()

	-webkit-user-select: none

	cursor: default

	font-family: Tahoma, Helvetica, sans-serif

	font-size: 10px

	line-height: row()

	overflow: hidden

	padding-top: 8px

.hidden

	display: none

hr
	height: 1px
	margin-bottom: -2px
	margin-top: 0

	border: none
	border-bottom: 1px solid

	-webkit-box-sizing: content-box

	@include colors

		@if $dark1 == true

			background-color: #262626

			border-bottom-color: #484848

		@else if $dark2 == true

			background-color: #383838

			border-bottom-color: #717171

		@else if $light1 == true

			background-color: #808080

			border-bottom-color: #cacaca

		@else if $light2 == true

			background-color: #9e9e9e

			border-bottom-color: #f0f0f0