@mixin el

	position: relative
	display: inline-block

	margin-bottom: 8px
	margin-right: 5px

	vertical-align: bottom
	line-height: 16px

	height: row()
	width: 70px

	&.big

		width: 140px

.noMargin

	margin-right: 0


label, input, textarea, select, .select, button, a.button, .el

	@include el

input[type=checkbox], input[type=radio]

	top: 4px
	left: -3px

input[type=text], textarea

	padding-left: 4px
	padding-right: 4px

::-webkit-input-placeholder

	@include colors

		@if $light == true

			color: #666

textarea

	width: 216px

	height: row()*3

	padding-top: 4px

@import "./inputs/button"
@import "./inputs/rotator"
@import "./inputs/direction"
@import "./inputs/orientation"