section

	display: block

	position: relative

	padding: 0 6px


label

	margin-bottom: 0
	padding-left: 2px

	> .help
		position: absolute
		right: 0
		top: -2px
		margin-right: 7px



// .help
// 	@include el

// 	width: 10px
// 	height: row()

// 	margin-left: -7px
// 	position: relative
// 	margin-right: 2px


// .help-content
// 	position: absolute
// 	padding: 6px 12px
// 	left: 4px
// 	right: 4px

// 	> pre
// 		padding-left: 12px
// 		// white-space: pre-wrap
// 		font-family: monospace

// 		margin-bottom: 8px

// 		display: inline

// 		&.example
// 			padding: 0 4px
// 			margin: 0




div > hr, section > hr

	margin-bottom: 10px

code

	display: inline-block
