section

	display: block

	position: relative

	padding: 0 6px

div > hr, section > hr

	margin-bottom: 8px

code

	display: inline-block

body > .container

	-webkit-transition: -webkit-transform 0.3s
	-webkit-transform: translateZ(1px)

	&.showingServerNotification

		-webkit-transform: translate3d(0, 30px, 1px)