input, select, textarea, button, a

	@include colors

		color: color_text()

button

	font-size: inherit

input[type=text], textarea

	outline: none

	font-size: inherit

	font-family: Monaco, "Courier New", monospace

	border: 1px solid

	@include colors

		@if $dark1 == true

			background: #212121
			border-color: #111111
			-webkit-box-shadow: 0 1px 0 #464646, inset 0 1px 0 #1e1e1e

		@else if $dark2 == true

			background: #3a3a3a
			border-color: #2a2a2a
			-webkit-box-shadow: 0 1px 0 #696969, inset 0 1px 0 #373737

		@else if $light1 == true

			background: #eeeeee
			border-color: #5e5e5e
			-webkit-box-shadow: 0 1px 0 #c6c6c6, inset 0 1px 0 #cfcfcf

		@else if $light2 == true

			background: #ffffff
			border-color: #888888
			-webkit-box-shadow: 0 1px 0 #e8e8e8, inset 0 1px 0 #d9d9d9

		&:focus

			background: white

			color: black

			border-color: rgb(0, 189, 255)

			-webkit-box-shadow: 0 0 4px -1px black !important

			// @if $dark1 == true

			// @if $dark2 == true

			// @if $light1 == true

			@if $light2 == true

				-webkit-box-shadow: 0 0 4px -1px rgb(0, 199, 255) !important


button, input[type=submit], a.button
	@include btn


input[type=text], textarea, select, button, a.button
	-webkit-border-radius: 2px


select

	color: color_select() !important



input[type=checkbox]
	-webkit-appearance: none
	width: 0
	height: 0
	background: transparent
	position: relative
	margin-right: 16px

	&:after
		display: block
		content: "\0020"
		width: 17px
		height: 15px
		position: absolute
		top: 1px
		border: 0px none
		box-sizing: content-box

	@include colors

		&:after
			background: url("../../img/#$theme/checkbox/n.png") 0 0


		&:active:after
			background: url("../../img/#$theme/checkbox/a.png") 0 0


		&:checked:after
			background: url("../../img/#$theme/checkbox/c.png") 0 0


		&:checked:active:after
			background: url("../../img/#$theme/checkbox/ca.png") 0 0


input[type=radio]
	-webkit-appearance: none
	width: 0
	height: 0
	background: transparent
	position: relative
	margin-right: 16px

	&:after
		display: block
		content: "\0020"
		width: 17px
		height: 15px
		position: absolute
		top: 1px
		border: 0px none
		box-sizing: content-box


	@include colors
		&:after
			background: url("../../img/#$theme/radio/n.png") 0 0


		&:active:after
			background: url("../../img/#$theme/radio/a.png") 0 0


		&:checked:after
			background: url("../../img/#$theme/radio/c.png") 0 0


		&:checked:active:after
			background: url("../../img/#$theme/radio/ca.png") 0 0




.select
	text-shadow: none
	> a
		text-decoration: none
		font-family: inherit

		@include btn_normal

		&:after
			display: block
			content: "\25BC"

			right: 6px
			top: 0

			position: absolute

			text-shadow: none
			// color: white
			font-size: 10px



	> .root
		list-style: none
		background: white
		color: black
		-webkit-box-shadow: 0 3px 8px -2px black



		> li
			&:first-child
				background: white !important
				color: black !important


			&:hover, &.hover, &.clicked
				background: #3399ff
				color: #FFF


			&.clicked
				background: #777
				&:hover
					background: #3399ff

		&.expanded

			&~a

				color: white

				&:after

					color: white

				@include btn_active

*:disabled, .disabled

	opacity: 0.5

label

	> input[type=checkbox], > input[type=radio]

		&:disabled~*

			opacity: 0.5

