.orientation

	@include el

	width: 24px
	height: 24px
	top: -1px

	position: relative

	-webkit-border-radius: 11px

	border: 2px solid #2e2e2e

	cursor: pointer

	> .thingy


		position: absolute

		width: 7px
		height: 12px

		top: 4px
		left: 7px

		opacity: 0.67

		-webkit-transition: all 0.21s

		@include colors

			background: url("../../images/#{$theme}/direction.png") 0 0 no-repeat

	&:hover

		border-color: rgb(3, 3, 3)

		> .thingy

			opacity: 1

	&:active

		background: #222

	&.right > .thingy

		-webkit-transform: rotateZ(0deg) translateZ(1px)

	&.right:hover > .thingy

		-webkit-transform: rotateZ(20deg) translateZ(1px)

	&.down > .thingy

		-webkit-transform: rotateZ(90deg) translateZ(1px)

	&.down:hover > .thingy

		-webkit-transform: rotateZ(110deg) translateZ(1px)

	&.left > .thingy

		-webkit-transform: rotateZ(180deg) translateZ(1px)

	&.left:hover > .thingy

		-webkit-transform: rotateZ(200deg) translateZ(1px)

	&.up > .thingy

		-webkit-transform: rotateZ(270deg) translateZ(1px)

	&.up:hover > .thingy

		-webkit-transform: rotateZ(290deg) translateZ(1px)